Package: com.jinken.listapp
Name: ListApp
Version: 1.2.1
Architecture: iphoneos-arm
Description: Modern Liquid Glass App Launcher on iOS Home Screen. Thay thế hoàn toàn màn hình chính bằng danh sách ứng dụng kính lỏng 2/3 màn hình, hiện số lượng thông báo badge trong khung (giữa hoặc phải), tối ưu icon độ nét cao sắc nét, hỗ trợ chỉnh kích thước icon, 9 phong cách thiết kế khung độc đáo. English & Vietnamese.
Maintainer: Jin Ken Nguyen <jinkennguyen@users.noreply.github.com>
Author: Jin Ken Nguyen
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000) | org.coolstar.libhooker | science.xnu.substitute | ellekit, preferenceloader
Icon: file:///Library/PreferenceBundles/ListAppPrefs.bundle/icon@2x.png
Depiction: https://github.com/jinkennguyen/ListApp
Homepage: https://github.com/jinkennguyen/ListApp
Tag: compatible_min::ios15.0 compatible_max::ios27.9 purpose::extension role::enduser
Dev: Jin Ken Nguyen
Sponsor: https://ko-fi.com/jinkennguyen
