<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WHAT_IS</string>
			<key>footerText</key>
			<string>ABOUT_WHAT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HOW_IT_WORKS</string>
			<key>footerText</key>
			<string>ABOUT_HOW</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FEATURE_LIST</string>
			<key>footerText</key>
			<string>ABOUT_FEATURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COMPAT</string>
			<key>footerText</key>
			<string>ABOUT_COMPAT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SAFETY</string>
			<key>footerText</key>
			<string>ABOUT_SAFETY</string>
		</dict>
	</array>
	<key>title</key>
	<string>ABOUT</string>
</dict>
</plist>
