<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DONATE_TITLE</string>
			<key>footerText</key>
			<string>DONATE_FOOTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openKofi</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>KOFI</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openPayPal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PAYPAL</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openSponsors</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SPONSORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DONATE_VIETNAM_TITLE</string>
			<key>footerText</key>
			<string>DONATE_VIETNAM_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DONATE_THANKS</string>
		</dict>
	</array>
	<key>title</key>
	<string>DONATE</string>
</dict>
</plist>
