<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>LAHeaderCell</string>
			<key>height</key>
			<integer>150</integer>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ENABLE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.listapp</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLE</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LASubListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>APPEARANCE</string>
			<key>laPlist</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LASubListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LAYOUT</string>
			<key>laPlist</key>
			<string>Layout</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LASubListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>DONATE</string>
			<key>laPlist</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LASubListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>CREDITS</string>
			<key>laPlist</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LASubListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
			<key>laPlist</key>
			<string>About</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIONS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSettings</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>VERSION_FOOTER</string>
		</dict>
	</array>
	<key>title</key>
	<string>ListApp</string>
</dict>
</plist>
